//-
//- index.jade
//-
doctype html
html
  head
  title meani-todo
  meta(charset="utf-8")
  meta(name="viewport", content="initial-scale=1, maximum-scale=1, user-scalable=no")

  link(rel="stylesheet", href="lib/ionic/css/ionic.css")
  link(rel="stylesheet", href="css/task.css")

  script(src="lib/ionic/js/ionic.bundle.js")
  script(src="js/task.js")

body(ng-app="todoApp", ng-controller="TaskController")
  ion-side-menus
    //- center pane
    ion-side-menu-content

      //- center header bar
      ion-header-bar.bar-positive
        //- gear button
        button.button.button-icon(ng-click="toggleSideMenu()")
          i.icon.ion-gear-a
        //- app title
        h1.title My Todo&nbsp;&nbsp;
          span.badge.badge-calm {{tasks.length}}
        //- edit button
        button.button.button-icon(ng-click="showNewTaskForm()")
          i.icon.ion-compose

      //- center sub-header bar
      ion-header-bar.bar-subheader.item-input-inset
        label.item-input-wrapper
          i.icon.ion-ios7-search.placeholder-icon
          input(ng-model="taskFilter", type="search", placeholder="Search")

      //- center contents
      ion-content(has-subheader="true", scroll="false")
        ion-list
          ion-item.item.item-checkbox.item-button-right.task-animation(class="task-done-{{task.done}}" ng-repeat="task in tasks | filter:taskFilter")
            label.checkbox
              input(type="checkbox", ng-model="task.done", ng-click="toggleTaskCompleted(task)")
            {{task.title}}
            br
            span.taskBody {{task.body}}
            button.button.button-stable.button-clear(ng-click="deleteTask(task, $index)")
              i.icon.ion-ios7-trash-outline

    //- left side menu
    ion-side-menu(side="left")

      //- side header
      ion-header-bar.bar-calm
        h1.title Setup

      //- side content
      ion-content(has-header="true" scroll="false")
        .task-phone
          | Enter a valid 10-digit phone number (e.g. 4151236789) below to receive an IM whenever a task is marked completed.
        .list
          .item.item-input-inset
            label.item-input-wrapper
              input(type="tel", ng-model="taskPhone", placeholder="Phone number")
            button.button.button-small(ng-click="addTaskPhone(taskPhone)") Add

  //- modal window template
  script(id="new-task-form.html", type="text/ng-template")
    .modal

      //-- modal header
      ion-header-bar.bar-secondary.bar-energized
        h1.title New Task
        button.button.button-clear.button-positive(ng-click="closeNewTaskForm()") X

      //-- modal content
      ion-content
        form(ng-submit="createTask(task)")
          .list
            label.item.item-input
              input(type="text", placeholder="What do you need to do?", ng-model="task.title")
            label.item.item-input
              input(type="text", placeholder="More details?", ng-model="task.body")
          .padding
            button.button.button-back.button-energized(type="submit") Create Task
